@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inconsolata", monospace;
}

button {
  cursor: pointer;
}

body {
  overflow: hidden;
  position: relative;
  background-color: #000
}

/* Home Screen */
.home {
  background: url(../media/img/home.jpg) #000;
  background-size: cover;
  transition: 2s opacity ease;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  width: 900px;
  justify-self: center;
  background-color: #0000001e;
  border-radius: 10px;
}

.home-buttons {
  display: grid;
  gap: 10px;
  justify-items: center;

  button {
    background-color: #00000000;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: "Merriweather", serif;
    transition: 0.5s ease;
  }

  button:hover {
    color: #c4a500;
  }
}

/* Gameplay */
.gameplay {
  display: none;
  background-image: url(../media/img/battlefield.jpg);
  background-size: cover;
  background-position: center bottom;
  opacity: 0;
  transition: 1s opacity ease;
}

.gameplay-content {
  height: 100vh;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: 500;
    color: #c4a500;
    cursor: default;
  }

  button {
    background-color: #00000000;
    border: none;
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 27px;
    transition: 0.5s ease;
  }

  button:hover {
    color: #c4a500;
  } 
}

.time-count-container {
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-size: 80px;
  color: #fff;

  p {
    cursor: default;
  }
}
/*
.home {
  display: none;
}

.gameplay {
  display: block;
  opacity: 1;
  
}*/

/*
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    z-index: 1;
  }
}*/


.outside {
  display: none;
}
/*
main {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transition: opacity 1s;
}*/

h1 {
  font-family: "Merriweather", serif;
  color: #ff0000;
  text-align: center;
  font-size: 50px;
}

.score-board-container {
  padding-left: 10px;
  height: 180px;
  display: none;
  justify-content: space-between;

  h2 {
    color: #fff;
    margin-bottom: 5px;
  }
}

.test-button {
  display: flex;
  justify-content: right;
  padding-right: 5px;
  p {
    color: #fff;
    background-color: #c4a500;
    font-weight: 800;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.score-board { 
  height: 150px;
  overflow-y: auto;
  width: 300px;
  p {
    word-spacing: 5px;
    margin: 5px 0;
    color: #c4a500;
  }
}

.score-start-container {
  padding: 7px 7px 0;
  display: none;
  justify-content: space-between;
  
  p {
    color: #c4a500;
    font-weight: 800;
    font-size: 45px;
  }
}
/*
button {
  border: none;
  cursor: pointer;
  font-size: 45px;
  font-weight: 800;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}*/

.timer-container {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Merriweather", serif;
  font-size: 80px;
  color: #fff;
  display: none;
}

.target-container {
  display: none;
  position: fixed;
  top: 0;
}

.target {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;

  img {
    width: 100%;
  }

  .type-box-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  }
}

.type-box {
  background-color: #010203;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 15px;
  border: 5px solid #010203;

  .sentence {
    color: #c4a500;
  }

  .target-type {
    color: #fff;
  }

  input {
    position: fixed;
    top: -100vh;
  }
}
