@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inconsolata", monospace;
}

button {
  cursor: pointer;
}

body {
  overflow: hidden;
  position: relative;
  background-color: #000
}

.press-enter-screen {
  background-color: #000;
  color: #fff;
  font-family: "Merriweather", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.enter-screen-button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #c4a500;
    color: #fff;
    font-size: 20px;
    border: none;
  }
}

/* Home Screen */
.home {
  display: none;
  display: block;
  background: url(../media/img/home.jpg) #000;
  background-size: cover;
  transition: 2s opacity ease;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  width: 900px;
  justify-self: center;
  background-color: #0000001e;
  border-radius: 10px;
}

.home-buttons {
  display: grid;
  gap: 10px;
  justify-items: center;

  button {
    background-color: #00000000;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: "Merriweather", serif;
    transition: 0.5s ease;
  }

  button:hover {
    color: #c4a500;
  }
}

/*Score board*/
.score-board-content {
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.sb-title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sb-title {
  width: 500px;
}

.sb-button-container {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  justify-content: right;
  padding: 10px 10px 0 0;
}

.return-home-btn {
  border: none;
  background-color: #00000000;
  color: #fff;
  font-size: 20px;
  transition: 0.5s ease;
}

.return-home-btn:hover {
  color: #c4a500;
}

.score-board {
  background-color: #00000081;
  width: 900px;
  height: 470px;
  text-align: center;
  line-height: 75px;
  position: relative;
  padding-top: 33px;
}

.column-titles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  h2 {
    color: #fff;
    font-size: 40px;
  }
}

.score-list {
  overflow: auto;
  height: 330px;

  div {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  p {
    color: #c4a500;
    font-size: 30px;
  }
}

.center-score-msgg {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  background: #fff; 
  border-radius: 10px; 
}

/* Gameplay */
.gameplay {
  display: none;
  background-image: url(../media/img/tunnel.jpg);
  background-size: cover;
  background-position: center bottom;
  opacity: 0;
  transition: 1s opacity ease;
}

.gameplay-content {
  height: 100vh;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    font-family: "Merriweather", serif;
    font-size: 40px;
    font-weight: 500;
    color: #c4a500;
    cursor: default;
  }

  button {
    background-color: #00000000;
    border: none;
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 27px;
    transition: 0.5s ease;
  }

  button:hover {
    color: #c4a500;
  } 
}

.time-count-container {
  position: absolute;
  top: 80px;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
  font-size: 80px;
  color: #fff;

  p {
    cursor: default;
  }
}

/* Zombies */
.zombie {
  position: absolute;
  top: 0;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.typing-box {
  background-color: #000;
  color: #fff;
  padding: 15px 35px;
  font-size: 20px;
  text-align: center;
}

.word-input {
  color: #c4a500;
}

form {
  position: absolute;
  top: -100vh;
}

.lady-zombie {
  background-image: url(../media/img/lady.png);
  background-position: 10% 10%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.mummy-zombie {
  background-image: url(../media/img/mummy.png);
  background-position: 45% 70%;
  background-size: 150%;
  background-repeat: no-repeat;
}

.granny-zombie {
  background-image: url(../media/img/granny-zombiee.png);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}